table {
	table-layout: fixed;
	width: 50%; /* 必要に応じて固定幅を設定 */
	border-collapse: collapse;
	float:  right;
	height: 400px;
}
th, td {
	border: 1px solid black;
	width: 100px; /* 必要に応じて固定幅を設定 */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}